@inherits BlazorWebasmHosted.Client.Shared.MainLayoutComponent
@namespace BlazorWebasmHosted.Client.Shared

<div class="main-container">
  <div class="content-container">
    <div class="content-area">
      <Tabs>
        <Tab>
          <Header>Tab 1</Header>
          <ChildContent>
            <p>This is the contents of tab 1.</p>
            @Body
          </ChildContent>
        </Tab>
        <Tab>
          <Header>Tab 2</Header>
          <ChildContent>
            <p>This is the contents of tab 2.</p>
          </ChildContent>
        </Tab>
        <Tab>
          <Header>Tab 3</Header>
          <ChildContent>
          </ChildContent>
        </Tab>
      </Tabs>
      <div cds-layout="vertical gap:md align:bottom">
        <Button @onclick="ShowError" Label=@ErrorButtonText Variant="Primary"></Button>
      </div>
    </div>
  </div>
</div>
